body {
    background-color: rgba(247, 247, 247, 1);
    margin: auto;
}

.ant-spin-sm .ant-spin-dot i {
    width: 30px !important;
    height: 30px !important;
}

.ant-spin-sm .ant-spin-dot {
    font-size: 60px !important;
}

.ant-pagination {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 26em;
    margin-bottom: 20px !important;
}

.ant-spin-lg .ant-spin-dot i {
    width: 50px !important;
    height: 50px !important;
}

.ant-spin-lg .ant-spin-dot {
    font-size: 126px !important;
}

.ant-spin-dot-spin {
    animation: antRotate 1.6s infinite linear !important;
}

.ant-rate {
    bottom: 15px;
    position: absolute;
}

@media (max-width: 550px){
    .ant-rate {
        right: 20px !important;
        bottom: 5px;
    }

}

.anticon {
    width: 15px ;
    height: auto;

}


.ant-tabs>.ant-tabs-nav {
    margin: 0 auto !important;
}